# data directories for assignments
assignments/assignment_02/data/*.gz
assignments/assignment_03/data/*.fna
assignments/assignment_04/data/*.fna
lessons/lesson_05/data/*.fastq 
assignments/assignment_05/data/raw/*.gz 
assignments/assignment_05/data/trimmed/*.gz
