# data directories for assignments
assignments/assignment_02/data/*.gz
assignments/assignment_03/data/*.fna
assignments/assignment_04/data/*.fna
lessons/lesson_05/data/*.fastq 
assignments/assignment_05/data/raw/*.gz 
assignments/assignment_05/data/trimmed/*.gz
assignments/assignment_06/data/*.fastq
assignments/assignment_07/data/raw/*.fastq
assignments/assignment_07/data/clean/*.fastq
assignments/assignment_07/data/dog_reference/*.fna
assignments/assignment_07/ref/
assignments/assignment_07/output/*.sam
assignments/assignment_07/data/*.csv
assignments/assignment_07/*.err
assignments/assignment_07/*.out
